# Development files
/docs/dev/
CLAUDE.md
.claude/
/firmware/
/app/
/data/
/tools/
/tests/tools/
/tests/legacy/

# Test Hardware
/custom_components/aqara_lanlink/device/models/camera_agl017/
/custom_components/aqara_lanlink/device/models/gateway.agl014/

# Python
__pycache__/

# Testing
.pytest_cache/
.coverage
# Local test virtualenv
.venv/
